name: infra-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

resources:
  repositories:
    - repository: pipeline_common
      type: github
      endpoint: jeevan-spark-org
      name: jeevan-spark-org/infra-pipeline-common

variables:
  - template: pipelines/variables/common.yml@pipeline_common

extends:
  template: pipelines/extends/infra-deploy.yml@pipeline_common
  parameters:
    azureServiceConnection: $(azureServiceConnection)
    location: '$(location)'
    deploymentTemplates:
      - name: network
        templateFile: templates/network/network.bicep
        parameterFile: templates/network/network.bicepparam
      - name: loganalytics
        templateFile: templates/loganalytics/loganalytics.bicep
        parameterFile: templates/loganalytics/loganalytics.bicepparam
      - name: acr
        templateFile: templates/acr/acr.bicep
        parameterFile: templates/acr/acr.bicepparam
      - name: aks
        templateFile: templates/aks/aks.bicep
        parameterFile: templates/aks/aks.bicepparam
