name: infra-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

resources:
  repositories:
    - repository: pipeline_common
      type: github
      endpoint: sc-github
      name: jeevankuduvaravindran/infra-pipeline-common

parameters:
  - name: environments
    type: object
    default:
      - name: dev
        dependsOn: WhatIf
      - name: prd
        dependsOn: dev
  - name: deploymentTemplates
    type: object
    default:
      - name: aks
        templateFile: templates/aks/main.bicep
        parameterFile: templates/aks/main.bicepparam

variables:
  - template: pipelines/variables/common.yml@pipeline_common

stages:
  - template: pipelines/stages/validate.yml@pipeline_common
    parameters:
      azureServiceConnection: $(azureServiceConnection)
      deploymentLocation: '$(deploymentLocation)'
      deploymentTemplates: ${{ parameters.deploymentTemplates }}

  - template: pipelines/stages/whatif.yml@pipeline_common
    parameters:
      azureServiceConnection: $(azureServiceConnection)
      deploymentLocation: '$(deploymentLocation)'
      deploymentTemplates: ${{ parameters.deploymentTemplates }}

  - ${{ each env in parameters.environments }}:
    - template: pipelines/stages/deploy.yml@pipeline_common
      parameters:
        environment:
          name: ${{ env.name }}
          dependsOn: ${{ env.dependsOn }}
        azureServiceConnection: '$(azureServiceConnection)'
        deploymentTemplates: ${{ parameters.deploymentTemplates }}
