name: infra-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

pr:
  branches:
    include:
      - main
  paths:
    include:
      - pipelines/**
      - templates/**
      - scripts/**

resources:
  repositories:
    - repository: pipeline_common
      type: github
      endpoint: jeevan-spark-org
      name: jeevan-spark-org/infra-pipeline-common

parameters:
  - name: environments
    type: object
    default:
      - name: dev
        dependsOn: WhatIf
      - name: prd
        dependsOn: dev

variables:
  - template: pipelines/variables/common.yml@pipeline_common

extends:
  template: pipelines/extends/infra-deploy.yml@pipeline_common
  parameters:
    environments: ${{ parameters.environments }}
    azureServiceConnection: $(azureServiceConnection)
    location: '$(location)'
    deploymentTemplates:
      - name: network
        templateFile: templates/network/main.bicep
        parameterFile: templates/network/main.bicepparam
      - name: loganalytics
        templateFile: templates/loganalytics/main.bicep
        parameterFile: templates/loganalytics/main.bicepparam
      - name: acr
        templateFile: templates/acr/main.bicep
        parameterFile: templates/acr/main.bicepparam
      - name: aks
        templateFile: templates/aks/main.bicep
        parameterFile: templates/aks/main.bicepparam
